body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f0f0f0;
}

h2 {
    background-color: #3b3e4d;
    color: white;
    padding: 10px;
    border-radius: 5px;
}


.container {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.navbar {
    background-color: #3b3e4d !important;
    color: #fff;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #ffffff !important;
}

.category-badge {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
}

.category-Prozessdesign-Grundlagen { background-color: #007bff; }
.category-Prozessdesign-Fortgeschritten { background-color: #6c757d; }
.category-Installation { background-color: #28a745; }
.category-Administration { background-color: #17a2b8; }
.category-Vertriebsschulung { background-color: #ffc107; }
.category-Neuerungen { background-color: #dc3545; }
.category-Rezertifizierung { background-color: #f8f9fa; }
.category-Module { background-color: #343a40; }

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
}

.vote-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8em;
}


.comment-submit {
    margin-bottom: 20px;
}

.search-box {
    position: relative;
}

.search-box input[type="text"] {
    padding-right: 30px; 
    border-radius: 20px; 
    border: 1px solid #ced4da; 
}

.search-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #495057; 
    pointer-events: none; 
}


